#ai-chat {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    #inputs {
        background-color: #222;
        padding: 0.1em 0 1em;

        form#message-form {
            textarea {
                max-width: 400px;
                width: 100%;
                box-sizing: border-box;

                &[name="instructions"] {
                    height: 40px;
                }

                &[name="input"] {
                    height: 60px;
                }
            }
        }
    }

    #chat-messages {
        max-width: 500px;
        width: 100%;
        flex: 1;
        margin: auto;
        padding: 2em 0 300px;
        overflow: auto;

        .message {
            --message-margin: 50px;

            width: calc(100% - var(--message-margin));
            border: 1px solid #888;
            border-radius: 0.5em;
            box-sizing: border-box;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 10px;
            text-align: left;

            &.response {
                background-color: #333;
                margin-right: var(--message-margin);
            }

            &:not(.response) {
                background-color: rgb(60, 8, 108);
                margin-left: var(--message-margin);
            }

            &.streaming {
                white-space: pre-wrap;
            }

            &:has(p + p) {
                p {
                    margin: 1em 0;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                line-height: 1;
                margin: 1em 0;

                &:first-child {
                    margin-top: 0.25em;
                }
            }
        }
    }
}
