---
pagination:
    data: posts.all_posts
    size: 5
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Alec Fernandes &mdash; Blog</title>
        <!-- meta_tags -->
        <meta name="type" property="og:type" content="website"/>
        <meta name="title" property="og:title" content="Alec Fernandes &mdash; Blog"/>
        <meta name="url" property="og:url" content="https://fern.haus"/>
        <meta
            name="description"
            property="og:description"
            content="I write about web development, Buddhist meditation, mushrooms, and much more!"/>
        <meta name="image"
            property="og:image"
            content="https://fern.haus/assets/ocean-gliderport-background.jpg"/>
        <!-- twitter meta tags -->
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@alec4nandes"/>
        <meta name="twitter:title" content="Alec Fernandes &mdash; Blog"/>
        <meta name="twitter:description"
            content="I write about web development, Buddhist meditation, mushrooms, and much more!"/>
        <meta name="twitter:image"
            content="https://fern.haus/assets/ocean-gliderport-background.jpg"/>
        <!-- end meta tags -->
        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/header-menu.css"/>
        <link rel="stylesheet" href="/css/article.css"/>
    </head>
    <body>
        {% include "partials/_smallheader.html" %}
        {% include "partials/_pagination.html" %}
        <main>
            {% for post in pagination.items %}
                {% include "partials/_article.html" %}
            {% endfor %}
        </main>
        {% include "partials/_pagination.html" %}
        {% include "partials/_stickycontact.html" %}
        {% include "partials/_footer.html" %}
    </body>
</html>