form#edit {
    max-width: 500px;

    &,
    #post-meta-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

textarea#topic,
#tweet-content {
    height: 150px;
    overflow: auto;
}

#post-content {
    height: 400px;
    overflow: auto;
}

.revisions,
#formatting,
#publish-btns {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.revision {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        text-decoration: underline rgb(152, 13, 13);
    }

    s {
        color: rgb(152, 13, 13);
        font-style: italic;
    }

    b {
        color: rgb(57, 168, 57);
    }
}

.accept-btn,
.reject-btn {
    display: none;
}

#char-count {
    &.too-long {
        color: lightsalmon;
    }
}
