---
pagination:
    data: posts.all_posts
    size: 7
---

{% assign page_num = pagination.pageNumber | plus : 1 %}
{% assign title = "FERN HAUS" %}
{% assign description = "Follow @alec4nandes on TikTok, Instagram, and X." %}
{% assign url = "https://fern.haus" %}
<!-- TODO: update social image -->
{% assign social_image = "https://fern.haus/assets/ocean-gliderport-background.jpg" %}
{% assign tags = posts.all_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            {% include "partials/_header-name.html" %}
            <nav id="mobile-nav">
                {% include "partials/_all-categories.html" %}
            </nav>
        </header>
        <main>
            {% include "partials/_page-posts.html" %}
            <section id="sidebar">
                <div id="categories-and-tags">
                    <a id="home-link" href="/about">About Fern Haus</a>
                    {% include "partials/_all-categories.html" %}
                    {% include "partials/_all-tags.html" %}
                </div>
            </section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>