---
pagination:
    data: posts.all_posts
    size: 7
---

{% assign page_num = pagination.pageNumber | plus : 1 %}
{% assign title = "FERN HAUS" %}
{% assign description = "Follow @alec4nandes on TikTok, Instagram, and X." %}
{% assign url = "https://fern.haus" %}
<!-- TODO: update social image -->
{% assign social_image = "https://fern.haus/assets/ocean-gliderport-background.jpg" %}
{% assign tags = posts.all_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            <img id="header-logo" src="/assets/logo/fern-haus-site-logo.png" alt="Fern Haus logo: a house wrapped with two fern branches.">
            <h1>Fern Haus</h1>
        </header>
        <main>
            {% include "partials/_page-posts.html" %}
            <section id="categories-and-tags">
                Categories
                {% for category in posts.all_categories %}
                    <a class="category-link" href="/categories/{{ category | slugify }}">
                        {{ category }}
                    </a>
                {% endfor %}
                {% include "partials/_all-tags.html" %}
            </section>
        </main>
        <footer>
            &copy; Alec Fernandes 2024
        </footer>
    </body>
</html>