---
pagination:
    data: posts.all_posts
    size: 1
    alias: post
permalink: "posts/{{ post.post_id | slugify }}.html"
---

{% assign suffix = " &mdash; FERN HAUS" %}
{% assign title = post.title | append: suffix %}
{% assign description = post.subtitle %}
{% assign url_prefix = "https://fern.haus/posts/" %}
{% assign url_middle = url_prefix | append: post.post_id %}
{% assign url = url_middle | append : ".html" | slugify %}
<!-- TODO: update social image -->
{% assign social_image = post.feature_image %}
{% assign categories = post.categories %}
{% assign tags = post.tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            {% include "partials/_header-name.html" %}
        </header>
        <main>
            {% include "partials/_whole-post.html" %}
            <section id="sidebar" class="whole-post-sidebar">
                <div id="categories-and-tags">
                    {% include "partials/_home-link.html" %}
                    {% include "partials/_all-categories.html" %}
                    {% include "partials/_all-tags.html" %}
                </div>
            </section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>