{% assign title = "All Tags &mdash; FERN HAUS" %}
{% assign description = "All tags at Fern Haus" %}
{% assign url = "https://fern.haus/tags" %}
<!-- TODO: update social image -->
{% assign social_image = "https://fern.haus/assets/ocean-gliderport-background.jpg" %}
{% assign categories = posts.all_categories %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            {% include "partials/_header-name.html" %}
            <nav>
                <h1>All Tags</h1>
            </nav>
        </header>
        <main>
            <div id="main-content">
                <div id="posts-container">
                    <div class="single-post whole-post">
                        {% for tags_list in posts.tags_by_letter %}
                            <h2>{{ tags_list.letter }}</h2>
                            <ul class="tags-list">
                                {% for tag in tags_list.tags %}
                                    <li>
                                        <a class="tag-link" href="/tags/{{ tag | slugify }}">
                                            {{ tag }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <section id="sidebar">
                <div id="categories-and-tags">
                    {% include "partials/_home-link.html" %}
                    {% include "partials/_social.html" %}
                    {% include "partials/_all-categories.html" %}
                </div>
            </section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>