---
pagination:
    data: posts.tag_data_keys
    size: 1
    alias: tag
permalink: "tags/{{ tag | slugify }}.html"
---

<html lang="en">
    <head>
        {% include "partials/_analytics.html" %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- meta tags -->
        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/header-menu.css"/>
        <link rel="stylesheet" href="/css/article.css"/>
    </head>
    <body>
        {% include "partials/_smallheader.html" %}
        <main>
            {% for post in posts.tag_data[tag] %}
                {% include "partials/_article.liquid" %}
            {% endfor %}
        </main>
        {% include "partials/_stickycontact.html" %}
        {% include "partials/_footer.html" %}
    </body>
</html>