@import url("https://api.fontshare.com/v2/css?f[]=switzer@300,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

:root {
    --color-text: #222;
    --color-1: #f1f2f6;
    --color-2: #d6e3f8;
    --color-3: #5c80bc;
    --color-4: #4d5061;
    --color-5: #30323d;
    --color-accent-1: #eed1b7;
    --color-accent-2: #e4bb97;
    --color-accent-3: #584d3d;
}

/* COLORS FONTS */

html,
body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    background-color: var(--color-4);
    color: var(--color-text);
    font-family: "Switzer", Helvetica, Arial, sans-serif;

    h1,
    h2,
    #blog-name {
        font-family: "DM Serif Display", Georgia, "Times New Roman", Times,
            serif;
    }

    xmp {
        background-color: var(--color-2);
    }

    .category-link {
        background: linear-gradient(to bottom, var(--color-2), var(--color-3));
        background-size: cover;
        background-position: top center;
        color: var(--color-5) !important;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.25rem;

        span {
            background-color: rgba(240, 240, 240, 0.75);
            padding: 2px 5px;
            border-radius: 3px;
        }
    }

    header {
        #name-and-logo {
            a {
                color: var(--color-1);
            }
        }

        nav {
            background-color: var(--color-5);
            color: var(--color-1);

            div {
                a {
                    color: var(--color-2);
                }
            }
        }

        #name-and-logo {
            #logo-container {
                background-color: var(--color-1);
            }
        }
    }

    main {
        #main-content {
            background-color: var(--color-1);

            a {
                color: var(--color-3);
            }

            .pagination {
                background-color: var(--color-2);
                color: var(--color-4);

                a {
                    font-weight: bold;
                }
            }

            #posts-container {
                flex: 1;
                font-size: 1.1rem;
                line-height: 1.75rem;
                padding-top: 20px;

                h1,
                h2,
                h3,
                h4 {
                    line-height: initial;
                }

                .single-post {
                    &:not(.whole-post) {
                        border-bottom-color: var(--color-2);
                    }

                    h1,
                    h2 {
                        line-height: 2.1rem;
                    }

                    .post-categories {
                        font-size: 1rem;

                        .post-category-link {
                            color: var(--color-1);
                            font-size: 0.85rem;
                        }
                    }

                    .image-and-title {
                        .feature-image {
                            background-color: var(--color-accent-1);
                        }
                    }

                    .caption {
                        color: var(--color-4);
                        font-size: 1rem;
                    }

                    .subtitle {
                        font-weight: bold;
                    }

                    .date-posted {
                        color: var(--color-4);
                        font-size: 1rem;
                    }
                }

                #recent-posts {
                    .single-post {
                        &:nth-child(odd) {
                            border-right-color: var(--color-2);
                        }
                    }
                }
            }
        }

        #sidebar {
            background-color: var(--color-5);
            color: var(--color-1);

            a {
                color: var(--color-2);
            }

            h2 {
                padding: 0 5px;
            }

            #categories-and-tags {
                #home-link {
                    background-color: var(--color-3);
                    color: var(--color-1);
                    font-weight: bold;
                }

                #tags {
                    .tags-list {
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    footer {
        background-color: var(--color-5);
        color: var(--color-1);

        a {
            color: var(--color-2);
        }
    }

    pre {
        font-size: 0.9rem;
    }

    @media only screen and (max-width: 550px) {
        header {
            #mobile-nav {
                #categories {
                    a {
                        color: var(--color-2) !important;
                        font-size: 0.85rem;
                        line-height: 0.85rem;
                    }
                }
            }
        }
    }
}

/* END COLORS FONTS */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    &:hover {
        opacity: 0.8;
    }
}

.all-categories-page {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px !important;

    a {
        height: 200px;
        width: calc(50% - 10px / 2);
        border-radius: 20px;
    }
}

#categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.category-link {
    height: 80px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#hamburger-menu-button,
#close-menu {
    appearance: none;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    img {
        width: 100%;
        filter: invert(1);
    }
}

#hamburger-menu {
    --width: 250px;

    height: 100%;
    width: var(--width);
    background-color: var(--color-3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    overflow: auto;
    padding: 30px 15px;
    position: fixed;
    transition: 1s;
    left: 0;
    z-index: 10;

    &.closed {
        left: calc(-1 * var(--width));
    }

    #close-menu {
        height: 22px;
        width: 22px;
        margin: 5px;
    }

    a {
        color: var(--color-1);
        font-weight: bold;
    }
}

#home-link,
.pagination {
    padding: 20px 10px;
}

hr {
    height: 2px;
    background-color: var(--color-accent-2);
    border: 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;

    a {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &:hover {
            box-shadow: 0 0 6px #eee;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

xmp {
    border-radius: 8px;
    padding: 0 8px;
    white-space: pre-wrap;
    word-break: break-word;
}

/* LAYOUT */

header,
main,
footer {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

header,
main {
    display: flex;
}

header {
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;

    #blog-name {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 0 10px;
    }

    h1,
    h2 {
        margin: 0;
    }

    #name-and-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        position: relative;

        #hamburger-menu-button {
            height: 30px;
            width: 35px;
            left: 0;
            top: 0;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;

            #logo-container {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                box-sizing: border-box;
                padding: 5px;

                #header-logo {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:not(#mobile-nav) {
            padding: 20px 10px;
        }
    }

    #mobile-nav {
        display: none;
    }
}

main {
    min-height: 850px;

    #main-content {
        max-width: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-align: center;

            p {
                margin: 0;
            }
        }

        #posts-container {
            flex: 1;

            .single-post {
                box-sizing: border-box;
                padding: 10px 10px 25px;
                text-wrap: pretty;

                &:not(.whole-post) {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                }

                h1,
                h2,
                .subtitle,
                .date-posted {
                    margin: 5px 0;
                }

                p {
                    margin: 20px 0;
                }

                .post-categories {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-left: 15px;

                    .post-category-link {
                        background-color: var(--color-3);
                        border-radius: 5px 5px 0 0;
                        padding: 5px 10px;
                    }
                }

                .image-and-title {
                    width: 100%;
                    display: block;

                    .feature-image {
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 5px;

                        &.full {
                            background-size: contain;
                        }

                        &:not(.full) {
                            background-size: cover;
                        }
                    }
                }
            }

            #latest-post {
                .single-post {
                    &.whole-post {
                        .whole-post-image-container {
                            background-color: var(--color-accent-1);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &,
                            img {
                                border-radius: 5px;
                            }

                            img {
                                height: 100%;
                                max-height: 500px;
                                max-width: 100%;
                                width: auto;
                                display: flex;
                            }
                        }
                    }

                    .caption {
                        margin-top: 5px;

                        &:empty {
                            display: none;
                        }
                    }

                    .image-and-title {
                        .feature-image {
                            height: 400px;
                        }
                    }
                }
            }

            #recent-posts {
                display: flex;
                flex-wrap: wrap;

                .single-post {
                    width: 50%;

                    &:nth-child(odd) {
                        border-right-width: 1px;
                        border-right-style: solid;
                    }

                    .image-and-title {
                        .feature-image {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    #sidebar {
        min-width: 150px;
        flex: 1;
        position: relative;

        #categories-and-tags {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: absolute;
            text-align: center;

            h2 {
                margin: 8px 0;
            }

            #categories {
                .all-categories-link {
                    display: inline-block;
                    padding-bottom: 12px;
                }
            }

            #tags {
                overflow: auto;

                .tags-list {
                    list-style: none;
                    margin: 0;
                    padding: 5px 8px 8px;
                    text-align: left;

                    li {
                        display: flex;
                        gap: 5px;
                        list-style-position: inside;

                        &:before {
                            content: "•";
                        }

                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

footer {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px 10px;
    text-align: center;
}

#about-me-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    img {
        height: 150px;
        border-radius: 15%;
    }
}

/* RESPONSIVE */

@media only screen and (max-width: 420px) {
    #blog-name span {
        width: 100%;
        display: block;
        line-height: 2rem;
        text-align: left;
    }
}

@media only screen and (max-width: 550px) {
    header {
        #mobile-nav {
            width: 100%;
            display: block;

            #categories {
                flex-direction: row;
                gap: 0;
                justify-content: center;
                padding: 5px 0;

                #categories-sidebar-heading {
                    display: none;
                }

                .category-link {
                    height: auto;
                    min-height: auto;
                    width: auto;
                    background-image: none !important;
                    font-weight: normal;
                    padding: 5px 12px;
                    text-align: center;

                    span {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    main {
        flex-direction: column;

        #main-content {
            max-width: 100%;

            #posts-container {
                #recent-posts {
                    .single-post {
                        width: 100%;

                        &:nth-child(odd) {
                            border-right: none;
                        }
                    }
                }
            }
        }

        #sidebar {
            &:not(.whole-post-sidebar) {
                /*
                    hides sidebar categories when category
                    tabs show up under header (mobile)
                */
                #categories {
                    /* display: none; */
                }
            }

            #categories-and-tags {
                position: relative;

                #tags {
                    padding-bottom: 30px;

                    .tags-list {
                        width: fit-content;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 5px;
                        margin: auto;

                        li {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
