body {
    background-color: #edf6ff;
}

h1 {
    color: #626e79;
    font-size: 40px;
    line-height: 40px;
    margin: 60px 25px 25px;
}

.gallery {
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 16px;

    & > div {
        box-sizing: border-box;
        display: inline-block;
        padding: 8px;

        &.page {
            width: 18.75%;
        }

        &.screenshot {
            width: 31.25%;
        }

        &.pair {
            width: calc(100% * (1 / 8));
            display: inline-flex;
            flex-direction: column;
            gap: 16px;
            justify-content: space-between;

            .container {
                height: 50%;
            }
        }

        &.featured-square {
            width: calc(100% * (2 / 8));
        }

        &.banner {
            width: calc(100% * (3 / 8));
        }

        .container {
            &,
            a,
            img {
                height: 100%;
                width: 100%;
            }

            a {
                display: flex;
                transition: 0.5s;

                &:hover {
                    opacity: 0.7;
                }

                img {
                    background-color: #fff;
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .page {
            width: calc(18.75% * 2) !important;
        }

        .screenshot {
            width: calc(31.25% * 2) !important;
        }

        .pair {
            width: calc(100% * (1 / 8) * 2) !important;
        }

        .featured-square {
            width: calc(100% * (2 / 8) * 2) !important;
        }

        .banner {
            width: calc(100% * (3 / 8) * 2) !important;
        }
    }

    @media only screen and (max-width: 420px) {
        .page,
        .screenshot,
        .pair,
        .featured-square,
        .banner {
            width: 100% !important;
        }

        .pair {
            flex-direction: row !important;

            .container {
                height: 100% !important;
                width: 50% !important;
            }
        }
    }
}

.small-header,
.subscribe {
    max-width: 800px;
    box-sizing: border-box;
    margin: auto;
}

.small-header-container {
    background-image: url("../assets/ocean-gliderport-background.jpg");
    background-position: bottom center;
    background-size: cover;
    position: relative;
    z-index: 555;

    &::before {
        content: "";
        background-color: rgba(128, 147, 177, 0.7);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .small-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        padding: 20px;
        position: relative;

        h1,
        h2 {
            margin: 0;
        }

        h1 {
            a {
                color: #fff;
                padding: 0;
                text-decoration: none;
            }
        }

        h2 {
            width: fit-content;
            background-color: rgb(105, 138, 199);
            color: #edf6ff;
            font-weight: 400;
        }

        /* .all-tags {
            width: fit-content;
            background-color: #fff;
            font-weight: bold;
            padding: 2px 5px;
        } */

        .search-form {
            margin: 0;

            &.searching {
                margin-top: 0;
            }
        }
    }
}

.subscribe-container {
    background-color: rgb(128, 147, 177);
    position: sticky;
    top: 0;
    z-index: 999;

    .subscribe {
        height: 30px;
        box-sizing: border-box;
        gap: 10px;
        justify-content: space-between;
        padding: 0 20px;

        &,
        form {
            display: flex;
            align-items: center;
        }

        .sticky-contact-link {
            color: #fff;
            text-decoration: none;
        }

        .close-nav,
        .open-nav {
            height: 30px;
            background-color: transparent;
            border: 0;
            display: flex;
            opacity: 1;
            padding: 0;
            transition: opacity 0.5s;

            &:hover {
                opacity: 0.6;
            }

            img {
                height: 100%;
                filter: invert(1);
            }
        }
    }
}

footer {
    background-color: rgb(128, 147, 177);
    position: relative;

    #footer-container {
        height: 100px;
        max-width: 800px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        padding: 20px;

        a {
            color: #fff;
        }
    }
}
