@import url("https://api.fontshare.com/v2/css?f[]=switzer@300,500,700&display=swap");

:root {
    --color-text: #222;
    --color-1: #f1f2f6;
    --color-2: #d6e3f8;
    --color-3: #5c80bc;
    --color-4: #4d5061;
    --color-5: #30323d;
    --color-accent-1: #eed1b7;
    --color-accent-2: #e4bb97;
    --color-accent-3: #584d3d;
}

/* COLORS & FONTS */

body {
    background-color: var(--color-4);
    color: var(--color-text);
    font-family: "Switzer", Arial, Helvetica, sans-serif;

    & xmp {
        background-color: var(--color-2);
    }

    & #categories {
        & .category-link {
            background: linear-gradient(
                to bottom,
                var(--color-2),
                var(--color-3)
            );
            color: var(--color-5);
            font-size: 1.25rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    & header {
        & a:has(h1) {
            color: var(--color-1);
            text-decoration: none;
            text-transform: uppercase;
        }

        & h2 {
            background-color: var(--color-5);
            color: var(--color-1);
        }

        & #name-and-logo {
            & #header-logo {
                background-color: var(--color-1);
            }
        }
    }

    & main {
        & #main-content {
            background-color: var(--color-1);

            & a {
                color: var(--color-3);
            }

            & .pagination {
                background-color: var(--color-2);

                & a {
                    font-weight: bold;
                }
            }

            & #posts-container {
                flex: 1;

                & .single-post {
                    box-sizing: border-box;
                    padding: 10px 10px 25px;
                    text-wrap: pretty;

                    &:not(.whole-post) {
                        border-bottom-color: var(--color-2);
                    }

                    & .image-and-title {
                        & .feature-image {
                            background-color: var(--color-accent-1);
                        }
                    }

                    & .subtitle {
                        font-weight: bold;
                    }

                    & .date-posted {
                        color: var(--color-4);
                        font-size: 0.9rem;
                    }
                }

                & #recent-posts {
                    & .single-post {
                        &:nth-child(odd) {
                            border-right-color: var(--color-2);
                        }
                    }
                }
            }
        }

        & #sidebar {
            background-color: var(--color-5);
            color: var(--color-1);

            & a {
                color: var(--color-2);
            }

            & #categories-and-tags {
                & #home-link {
                    background-color: var(--color-3);
                    color: var(--color-1);
                    font-weight: bold;
                }

                & #tags {
                    & .tags-list {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    footer {
        background-color: var(--color-5);
        color: var(--color-1);

        & a {
            color: var(--color-2);
        }
    }

    @media only screen and (max-width: 550px) {
        header {
            & #mobile-nav {
                & #categories {
                    & a {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

/* END COLORS & FONTS */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    &:hover {
        opacity: 0.8;
    }
}

& #categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

    & .category-link {
        height: 100px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

#home-link,
.pagination {
    padding: 20px 10px;
}

xmp {
    white-space: pre-wrap;
    word-break: break-word;
}

header,
main,
footer {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

header,
main {
    display: flex;
}

header {
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;

    & h1 {
        margin: 0 0 0 10px;
    }

    & h2 {
        margin: 0;
        padding: 20px 10px;
    }

    & #name-and-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;

        & #header-logo {
            height: auto;
            width: 60px;
            border-radius: 50%;
        }
    }

    & #mobile-nav {
        display: none;
    }
}

main {
    min-height: 700px;

    & #main-content {
        max-width: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;

        & .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-align: center;

            & p {
                margin: 0;
            }
        }

        & #posts-container {
            flex: 1;

            & .single-post {
                box-sizing: border-box;
                padding: 10px 10px 25px;
                text-wrap: pretty;

                &:not(.whole-post) {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                }

                & h2,
                & .subtitle,
                & .date-posted {
                    margin: 5px 0;
                }

                & p {
                    margin: 20px 0;
                }

                & .image-and-title {
                    width: 100%;
                    display: block;

                    & h2 {
                        line-height: 1.3em;
                    }

                    & .feature-image {
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 5px;

                        &.full {
                            background-size: contain;
                        }

                        &:not(.full) {
                            background-size: cover;
                        }
                    }
                }
            }

            & #latest-post {
                & .single-post {
                    & .image-and-title {
                        & .feature-image {
                            height: 400px;
                        }
                    }
                }
            }

            & #recent-posts {
                display: flex;
                flex-wrap: wrap;

                & .single-post {
                    width: 50%;

                    &:nth-child(odd) {
                        border-right-width: 1px;
                        border-right-style: solid;
                    }

                    & .image-and-title {
                        & .feature-image {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    & #sidebar {
        min-width: 150px;
        flex: 1;
        position: relative;

        & #categories-and-tags {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: absolute;
            text-align: center;

            & h2 {
                margin: 8px 0;
            }

            & #tags {
                overflow: auto;

                & .tags-list {
                    list-style: none;
                    margin: 0;
                    padding: 0 8px 8px;
                    text-align: left;

                    & li {
                        display: flex;
                        gap: 5px;
                        list-style-position: inside;
                        padding-bottom: 4px;

                        &:before {
                            content: "•";
                        }

                        & a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

footer {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px 10px;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    header {
        & #mobile-nav {
            width: 100%;
            display: block;

            & #categories {
                flex-direction: row;

                & h2 {
                    display: none;
                }

                & a {
                    height: auto;
                    flex: 1;
                    padding: 10px 15px;
                    text-align: center;
                }
            }
        }
    }

    main {
        flex-direction: column;

        & #main-content {
            max-width: 100%;

            & #posts-container {
                & #recent-posts {
                    & .single-post {
                        width: 100%;

                        &:nth-child(odd) {
                            border-right: none;
                        }
                    }
                }
            }
        }

        & #sidebar {
            &:not(.whole-post-sidebar) {
                & #categories {
                    display: none;
                }
            }

            & #categories-and-tags {
                position: relative;

                & #tags {
                    & .tags-list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;

                        & li {
                            padding-bottom: 0;
                        }
                    }
                }

                & #tags {
                    padding-bottom: 30px;

                    & .tags-list {
                        width: fit-content;
                        margin: auto;
                    }
                }
            }
        }
    }
}
