@import url("https://api.fontshare.com/v2/css?f[]=switzer@300,500,700&display=swap");

body {
    display: flex;
    flex-direction: column;
    font-family: "Switzer", Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    &:hover {
        opacity: 0.8;
    }
}

#home-link,
.pagination {
    padding: 20px 10px;
}

xmp {
    background-color: aliceblue;
    white-space: pre-wrap;
    word-break: break-word;
}

header,
main,
footer {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

header,
main {
    display: flex;
}

header {
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;

    & h1 {
        margin: 0 0 0 10px;
    }

    & h2 {
        background-color: #eee;
        margin: 0;
        padding: 20px 10px;
    }

    & #name-and-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;

        & #header-logo {
            height: auto;
            width: 60px;
        }
    }

    & #mobile-nav {
        display: none;
    }
}

main {
    min-height: 700px;
    background-color: #eee;

    & #posts-page {
        max-width: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;

        & .pagination {
            background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            & p {
                margin: 0;
            }
        }

        & #posts-container {
            flex: 1;

            & .single-post {
                box-sizing: border-box;
                padding: 10px 10px 25px;
                text-wrap: pretty;

                &:not(.whole-post) {
                    border-bottom: 1px solid #ccc;
                }

                & h2,
                & .subtitle,
                & .date-posted {
                    margin: 5px 0;
                }

                & .subtitle {
                    font-weight: bold;
                }

                & .date-posted {
                    color: #777;
                    font-size: 0.9rem;
                }

                & p {
                    margin: 20px 0;
                }

                & .image-and-title {
                    width: 100%;
                    display: block;

                    & h2 {
                        line-height: 1.3em;
                    }

                    & .feature-image {
                        background-color: #ccc;
                        background-position: center;
                        background-repeat: no-repeat;

                        &.full {
                            background-size: contain;
                        }

                        &:not(.full) {
                            background-size: cover;
                        }
                    }
                }
            }

            & #latest-post {
                & .single-post {
                    & .image-and-title {
                        & .feature-image {
                            height: 400px;
                        }
                    }
                }
            }

            & #recent-posts {
                display: flex;
                flex-wrap: wrap;

                & .single-post {
                    width: 50%;

                    &:nth-child(odd) {
                        border-right: 1px solid #ccc;
                    }

                    & .image-and-title {
                        & .feature-image {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    & #sidebar {
        min-width: 150px;
        flex: 1;
        position: relative;

        & #categories-and-tags {
            height: 100%;
            width: 100%;
            background-color: #ddd;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: absolute;
            text-align: center;

            & #home-link {
                background-color: #777;
                color: #fff;
                font-weight: bold;
            }

            & h2 {
                margin: 8px 0;
            }

            & #categories {
                & .category-link {
                    height: 100px;
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    text-align: center;

                    &:nth-child(even) {
                        background-color: #000;
                        color: #fff;
                    }

                    &:nth-child(odd) {
                        background-color: #444;
                        color: #fff;
                    }
                }
            }

            & #tags {
                overflow: auto;

                & .tags-list {
                    font-size: 0.9rem;
                    list-style: none;
                    margin: 0;
                    padding: 0 8px 8px;
                    text-align: left;

                    & li {
                        display: flex;
                        gap: 5px;
                        list-style-position: inside;
                        padding-bottom: 4px;

                        &:before {
                            content: "•";
                        }

                        & a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #ddd;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px 10px;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    header {
        & #mobile-nav {
            width: 100%;
            display: block;

            & #categories {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                & h2 {
                    display: none;
                }

                & a {
                    background-color: #000;
                    color: #fff;
                    flex: 1;
                    font-weight: bold;
                    padding: 10px 15px;
                    text-align: center;
                }
            }
        }
    }

    main {
        flex-direction: column;

        & #posts-page {
            max-width: 100%;

            & #posts-container {
                & #recent-posts {
                    & .single-post {
                        width: 100%;

                        &:nth-child(odd) {
                            border-right: none;
                        }
                    }
                }
            }
        }

        & #sidebar {
            &:not(.whole-post-sidebar) {
                & #categories {
                    display: none;
                }
            }

            & #categories-and-tags {
                position: relative;

                & #tags {
                    & .tags-list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;

                        & li {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
