---
pagination:
    data: posts.category_data.WebProjects.posts
    size: 7
---

{% assign category = "Web Projects" %}
{% assign title = "Category: Web Projects &mdash; FERN HAUS" %}
{% assign description = 'All posts at Fern Haus under the category &quot;Web Projects&quot;' %}
{% assign url = "https://fern.haus/categories/" | append: category | slugify %}
<!-- TODO: update social image -->
{% assign social_image = "https://fern.haus/assets/ocean-gliderport-background.jpg" %}
{% assign tags = posts.category_data.WebProjects.tags %}
{% assign tags_heading = "Category Tags" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            {% include "partials/_header-name.html" %}
            <nav>
                <h2>Category: {{ category }}</h2>
                <div>
                    <a href="/categories">all categories</a>
                    &nbsp; | &nbsp;
                    <a href="/tags">all tags</a>
                </div>
            </nav>
        </header>
        <main>
            {% include "partials/_posts-page.html" %}
            <section id="sidebar">
                <div id="categories-and-tags">
                    {% include "partials/_home-link.html" %}
                    {% include "partials/_social.html" %}
                    {% include "partials/_all-tags.html" %}
                </div>
            </section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>