---
pagination:
    data: posts.category_data.WebDev.posts
    size: 7
---

{% assign category = "Web Dev" %}
{% assign title = "FERN HAUS Category &mdash; " | append: category %}
{% assign description = "Posts under the category " | append: category %}
{% assign url = "https://fern.haus/categories/" | append: category | slugify %}
<!-- TODO: update social image -->
{% assign social_image = "" %}
{% assign tags = posts.category_data.WebDev.tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            <img id="header-logo" src="/assets/logo/fern-haus-site-logo.png" alt="Fern Haus logo: a house wrapped with two fern branches.">
            <h1>Fern Haus</h1>
        </header>
        <main>
            <h2>Category: {{ category }}</h2>
            {% include "partials/_page-posts.html" %}
            <section id="categories-and-tags">
                <div>
                    <a href="/">Home</a>
                </div>
                {% include "partials/_all-tags.html" %}
            </section>
        </main>
        <footer>
            &copy; Alec Fernandes 2024
        </footer>
    </body>
</html>