---
pagination:
    data: posts.tag_data.animations.posts
    size: 7
---

{% assign tag = "animations" %}
{% assign title = "Tag: animations &mdash; FERN HAUS" %}
{% assign description = 'All posts at Fern Haus with the tag &quot;animations&quot;' %}
{% assign url = "https://fern.haus/tags/" | append: tag | slugify %}
<!-- TODO: update social image -->
{% assign social_image = "https://fern.haus/assets/ocean-gliderport-background.jpg" %}
{% assign tags = posts.all_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            {% include "partials/_header-name.html" %}
            <h2>Tag: {{ tag }}</h2>
        </header>
        <main>
            {% include "partials/_posts-page.html" %}
            <section id="sidebar">
                <div id="categories-and-tags">
                    {% include "partials/_home-link.html" %}
                    {% include "partials/_all-tags.html" %}
                </div>
            </section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>