---
pagination:
    data: posts.tag_data.FDA.posts
    size: 7
---

{% assign tag = "FDA" %}
{% assign title = "Tag: FDA &mdash; FERN HAUS" %}
{% assign description = 'All posts at Fern Haus with the tag &quot;FDA&quot;' %}
{% assign url = "https://fern.haus/tags/" | append: tag | slugify %}
<!-- TODO: update social image -->
{% assign social_image = "https://fern.haus/assets/ocean-gliderport-background.jpg" %}
{% assign tags = posts.recent_tags %}
{% assign tags_heading = "Recent Tags" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_meta-tags.html" %}
    </head>
    <body>
        <header>
            {% include "partials/_header-name.html" %}
            <nav>
                <h2>Tag: {{ tag }}</h2>
                <div>
                    <a href="/tags">all tags</a>
                    &nbsp; | &nbsp;
                    <a href="/categories">all categories</a>
                </div>
            </nav>
        </header>
        <main>
            {% include "partials/_posts-page.html" %}
            <section id="sidebar">
                <div id="categories-and-tags">
                    {% include "partials/_home-link.html" %}
                    {% include "partials/_social.html" %}
                    {% include "partials/_all-tags.html" %}
                </div>
            </section>
        </main>
        {% include "partials/_footer.html" %}
    </body>
</html>