<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirmation</title>
        <style>
            {% include 'css/style.css' %}
            {% comment %}
                override style.css{% endcomment %}
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Post {{ type }}!</h1>
        </header>
        <main>
            <p>
                <a href="./{{ dirNameHome }}">back to admin</a>
            </p>
        </main>
    </body>
</html>