<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Posts</title>
    </head>
    <body>
        <a href="./edit/post">*write new post*</a>
        <br/>
        <button onclick="handleSignOut()">
            sign out
        </button>
        <ul>
            {% for post in allPosts %}
                <li>
                    <a href="./edit/post?id={{ post.post_id }}">{{ post.title }}</a>
                    <small class="date">{{ post.date }}</small>
                </li>
            {% endfor %}
        </ul>

        <script>
            function handleSignOut() {
                document.cookie = "auth=; expires=0; path=/";
                window.location.reload();
            }

            document.querySelectorAll(".date").forEach((elem) => {
                const date = new Date(elem.textContent),
                    formatted = date.toLocaleDateString("en-us", {
                        weekday: "short",
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                        hour: "numeric",
                        minute: "2-digit"
                    });
                elem.innerText = `(${formatted})`;
            });
        </script>
    </body>
</html>