<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In</title>
        <style>
            input {
                text-align: center;
            }
            {% include 'css/style.css' %}
        </style>
    </head>
    <body>
        <header>
            <h1>Sign In</h1>
        </header>
        <main>
            <form action="./{{ dirNameSignIn }}" method="post">
                {% if error %}
                    <p class="warning">
                        {{ error.message }}
                    </p>
                {% endif %}
                <label for="email">
                    email:</label>
                <input
                    id="email"
                    type="email"
                    name="email" />
                <label for="password">
                    password:
                </label>
                <input
                    id="password"
                    type="password"
                    name="password" />
                <button type="submit">sign in</button>
            </form>
        </main>
    </body>
</html>