form {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;

    &#sign-in {
        align-items: center;
    }

    &:has(textarea) {
        width: 100%;
        max-width: 400px;

        textarea {
            min-height: 80px;
            box-sizing: border-box;
        }
    }

    &#add-category {
        align-items: center;
    }

    button[type="submit"] {
        width: fit-content;
    }
}

input[type="number"] {
    width: 50px;
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

ul {
    width: fit-content;
    margin: 1em auto;
    padding-left: 25px;
    text-align: left;

    li {
        margin-bottom: 1em;
    }
}
