<div id="name-and-logo">
    <button id="hamburger-menu-button">
        <img src="/assets/hamburger-menu-icon.png">
    </button>
    <a href="/">
        <img id="header-logo" src="/assets/logo/fern-haus-site-logo.png" alt="Fern Haus logo: a house wrapped with two fern branches.">
        <h1>
        Fern Haus
    </h1>
    </a>
</div>

<div id="hamburger-menu" class="closed">
    <button id="close-menu">
        <img src="/assets/hamburger-menu-close-icon.png">
    </button>
    <h2>Menu</h2>
    <a href="/">Home</a>
    <a href="/categories">All Categories</a>
    <a href="/tags">All Tags</a>
    <a href="/about">About</a>
    <a href="/about">Contact</a>
    {% include "partials/_social.html" %}
</div>