{% include "partials/_analytics.html" %}
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="type" property="og:type" content="website"/>
<meta name="title" property="og:title" content="{{ title }}"/>
<meta name="url" property="og:url" content="{{ url }}"/>
<meta name="description" property="og:description" content="{{ description }}"/>
<meta name="image" property="og:image" content="{{ social_image }}"/>
<!-- twitter meta tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@alec4nandes"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:image" content="{{ social_image }}"/>
<!-- end meta tags -->
<title>{{ title }}</title>
<link rel="icon" type="image/x-icon" href="/assets/logo/favicon.png"/>