<section id="page-posts">
    {% include "partials/_pagination.html" %}
    <div id="posts-container">
        {% for post in pagination.items %}
            {% if page_num == 1 and forloop.index == 1 %}
                {{ "<div id='latest-post'>" }}
            {% endif %}
            {% if page_num == 1 and forloop.index == 2 %}
                {{ "<div id='recent-posts'>" }}
            {% endif %}
            {% if page_num != 1 and forloop.index == 1 %}
                {{ "<div id='recent-posts'>" }}
            {% endif %}
            {% include "partials/_post-preview.html" %}
            {% if page_num == 1 and forloop.index == 1 %}
                {{ "</div>" }}
            {% endif %}
            {% if forloop.last == true %}
                {{ "</div>" }}
            {% endif %}
        {% endfor %}
    </div>
    {% include "partials/_pagination.html" %}
</section>