{% assign post_categories = post.categories %}

<div class="single-post">
    {% include "partials/_post-categories.html" %}
    <a class="image-and-title" href="/posts/{{ post.post_id | slugify }}.html">
        <div class="feature-image" style="background-image: url('{{ post.feature_image }}');"></div>
        <h2>{{ post.title }}</h2>
    </a>
    <p class="subtitle">
        {{ post.subtitle }}
    </p>
    <p class="date-posted">
        {{ post.date }}
    </p>
    {% if post.blurb %}
        <p class="blurb">
            {{ post.blurb }}
            <a href="/posts/{{ post.post_id | slugify }}.html">
                <strong>(read more)</strong>
            </a>
        </p>
    {% endif %}
</div>