@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    interpolate-size: allow-keywords;
}

/* STRUCTURE */

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    margin: 0;

    * {
        box-sizing: border-box;
        text-wrap: pretty;
    }

    p {
        line-height: 1.5rem;
    }

    .logo {
        height: 100px;
        width: auto;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    .divider {
        height: 25px;
        background-image: url("assets/divider.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 300%;
        border: 0;
        opacity: 0.5;
        margin: 2rem 0;
    }
}

main {
    height: 100%;
    max-height: 1000px;
    max-width: 850px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    .top-level {
        --closed-width: 15%;
        --open-width: calc(100% - 2 * var(--closed-width));

        height: 100%;
        width: 100%;
        display: flex;
        scroll-snap-align: center;

        &#outro {
            display: none;
        }

        &#intro,
        &#outro {
            overflow-x: hidden;
            overflow-y: auto;

            .container {
                margin: auto;
                padding: 2rem 1rem;
                text-align: center;
            }
        }

        &#intro {
            h1 {
                margin-bottom: 0;
            }

            h2 {
                margin-top: 0;

                &#tagline {
                    margin-bottom: 1.5rem;
                }
            }

            p {
                max-width: 600px;
                margin: 1rem auto;
            }
        }

        &:has(details[open]) {
            details {
                width: var(--closed-width);

                &[open] {
                    --summary-height: 80px;

                    width: var(--open-width);
                    position: relative;

                    & > div {
                        height: calc(100% - var(--summary-height));
                        width: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;
                        position: absolute;
                    }

                    summary {
                        height: var(--summary-height);
                    }
                }
            }
        }

        details {
            height: 100%;
            overflow-y: hidden;

            &.creed {
                width: var(--open-width);
                text-align: center;
            }

            &:not(.creed) {
                width: var(--closed-width);
            }

            summary {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &,
                .closed-icon {
                    overflow: hidden;
                }

                .text {
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
            }
        }
    }
}

/* TRANSITIONS */

main {
    .top-level {
        &:has(details[open]) {
            details {
                &[open] {
                    summary {
                        .closed-icon {
                            transition:
                                max-height 0s ease 1s,
                                opacity 1s ease 1s,
                                visibility 1s ease 1s;
                        }

                        .text {
                            transition:
                                max-height 0s ease 1s,
                                opacity 1s ease,
                                visibility 1s ease;
                        }
                    }
                }

                summary {
                    .closed-icon {
                        max-height: 100dvh;
                        opacity: 1;
                        visibility: visible;

                        transition:
                            max-height 0s ease 1s,
                            opacity 1s ease 1s,
                            visibility 1s ease 1s;
                    }

                    .text {
                        max-height: 0;
                        opacity: 0;
                        visibility: hidden;

                        transition:
                            max-height 0s ease 1s,
                            opacity 1s ease,
                            visibility 1s ease;
                    }
                }
            }
        }

        details {
            transition: all 1s ease 1s;

            &[open] {
                &::details-content {
                    opacity: 1;

                    transition:
                        content-visibility 1s allow-discrete,
                        opacity 1s ease 2s;
                }
            }

            &::details-content {
                opacity: 0;

                transition:
                    content-visibility 1s allow-discrete,
                    opacity 1s ease;
            }

            summary {
                transition: all 1s ease;

                .closed-icon {
                    max-height: 0;
                    opacity: 0;
                    visibility: hidden;

                    transition:
                        max-height 0s ease 2s,
                        opacity 1s ease 1s,
                        visibility 1s ease 1s;
                }

                .text {
                    max-height: 100dvh;
                    opacity: 1;
                    visibility: visible;

                    transition:
                        max-height 0s ease 2s,
                        opacity 1s ease 2s,
                        visibility 1s ease 2s;
                }
            }
        }
    }
}

/* STYLING */

&:root {
    /* COLORS */
    --primary-dark: #2a6c91;
    --primary-light: #c2e5f0;
    --primary-lightest: #fffbed;
    --accent-darkest: #715e22;
    --accent-dark: #d1b96a;
    --accent-light: #e6b733;
    --accent-lighter: #fff0bd;
    --accent-lightest: #fff7dd;
}

body {
    background-color: var(--primary-dark);
    color: #333;
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;

    a {
        color: var(--primary-dark);

        &:hover {
            color: var(--accent-light);
        }
    }

    button,
    a.link-btn {
        appearance: none;
        background-color: var(--primary-dark);
        border: 0;
        border-radius: 10px;
        color: var(--accent-lightest);
        font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:hover {
            background-color: var(--accent-light);
            color: var(--accent-darkest);
            cursor: pointer;
        }
    }

    h1,
    h2 {
        font-family: "Cardo", "Times New Roman", Times, serif;
        text-align: center;
    }

    h1 {
        color: var(--accent-darkest);
    }

    h2 {
        font-size: 1.2rem;
    }

    details:not(.creed) {
        h2 {
            color: var(--accent-darkest);
        }
    }
}

main {
    background-color: var(--primary-lightest);

    .top-level {
        border-top: 3px solid var(--accent-dark);
        border-bottom: 3px solid var(--accent-dark);

        &#intro,
        &#outro {
            background: linear-gradient(
                var(--accent-dark),
                var(--accent-lighter) 15%,
                var(--accent-lightest) 25%,
                var(--accent-lightest) 75%,
                var(--accent-lighter) 85%,
                var(--accent-dark)
            );
        }

        &:nth-child(even) {
            .creed {
                summary {
                    background-color: var(--accent-lightest);
                }
            }
        }

        &:nth-child(odd) {
            .creed {
                summary {
                    background-color: var(--accent-lighter);
                }
            }
        }

        &#outro {
            color: var(--accent-darkest);
            font-family: "Cardo", "Times New Roman", Times, serif;
            font-size: 1.4rem;
            font-weight: bold;
        }

        details {
            &.christian,
            &.zen {
                summary {
                    background-color: var(--accent-dark);
                }

                & > div {
                    .religious-text {
                        font-style: italic;
                        font-weight: bold;
                        margin-bottom: 0;

                        &.jesus-said {
                            color: maroon;
                        }
                    }
                }
            }

            &.christian {
                summary {
                    .icon {
                        font-size: 3rem;
                    }
                }
            }

            &.creed {
                summary {
                    .icon {
                        color: var(--primary-dark);
                        font-size: 3.4rem;
                    }
                }
            }

            &.zen {
                summary {
                    .icon {
                        font-size: 3.5rem;
                    }
                }
            }

            & > div {
                padding: 0.75rem;

                h1.belief {
                    font-size: 1.2rem;
                }
            }

            summary {
                text-align: center;

                .icon {
                    color: var(--primary-dark);
                    font-family: "Times New Roman", Times, serif;
                }

                .text {
                    color: var(--accent-darkest);
                    font-family: "Cardo", "Times New Roman", Times, serif;
                    font-size: 1.4rem;
                    font-weight: bold;
                    padding: 0 0.5rem;
                }
            }
        }
    }
}

/* SOCIAL */

.social {
    display: flex;
    gap: 10px;
    justify-content: center;

    a {
        display: flex;

        img {
            height: 30px;
            width: 30px;
            background: radial-gradient(
                circle at center,
                var(--accent-lightest) 0,
                var(--accent-lightest),
                transparent 75%
            );
            border-radius: 50%;
            box-shadow: 0 0 5px #fff;

            &:hover {
                box-shadow: 0 0 10px var(--accent-light);
            }
        }
    }
}
